.label {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.button {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.list-cell {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.table-cell {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.tab {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.text-field {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.text-area {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.titled-pane {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize}
}

.check-box {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${dialogFontSize};
}

.aboutLabel {
    -fx-font-family: "${dialogFontFamily}";
    -fx-font-size: ${aboutLabelFontSize};
    -fx-font-weight: bold;
}

.gridPane {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.titled-pane {
    -fx-collapsible: false;
}

.action-add {
    -fx-control-inner-background: ${actionAddColor};
    -fx-control-inner-background-alt: ${actionAddColor};
}

.action-replace {
    -fx-control-inner-background: ${actionReplaceColor};
    -fx-control-inner-background-alt: ${actionReplaceColor};
}

.action-delete {
    -fx-control-inner-background: ${actionDeleteColor};
    -fx-control-inner-background-alt: ${actionDeleteColor};
}

.action-restore {
    -fx-control-inner-background: ${actionRestoreColor};
    -fx-control-inner-background-alt: ${actionRestoreColor};
}
