.noteLabel {
    -fx-padding: 15 5 0 5;
}

.noteViewer {
    -fx-padding: 5 5 5 5;
}

.whiteBackground {
    -fx-background: rgb(255,255,255);
}

.dropTarget {
    -fx-border-width: 0 0 0 0;
    -fx-border-style: hidden hidden dotted hidden;
    -fx-background-color: lightgray;
}

.dropBelow {
    -fx-border-width: 0 0 1.5 0;
    -fx-border-style: hidden hidden dotted hidden;
}

.dropAbove {
    -fx-border-width: 1.5 0 0 0;
    -fx-border-style: dotted hidden hidden hidden;
}

.webLink {
    -fx-text-fill: #6666ff;
}

.fieldName {
    -fx-text-fill: darkblue;
}

.aboutLabel {
    -fx-font-size: 18;
    -fx-font-family: "System";
    -fx-font-weight: bold;
}

.gridPane {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.titled-pane {
    -fx-collapsible: false;
}

.cardContentTitle {
    -fx-font-size: 36;
}